@media only screen and (max-width:924px) {
  #con {
    height: 600px!important;
    min-width: 100vw !important;
    margin: 0;
    padding: 0;
  }
}


#con {
  min-height: 400px !important;
  height: 100%;
  max-height: 45vmin;
  min-width: 200px;
  width: 100%;
  max-width: 30vw;
  background-color: #651E3E;
  padding: .5em;
  display: flex;
  margin: 0 !important;
  flex-direction: column;
  justify-content: centers;
}