#footer {
  background-color: black;
  min-height: 120px;
  margin: 0;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-size: 1em;
  color: white;
}

.footer-links > * {
  margin: 0.5em 0;
  height: 100px;
  width: 100px;
}